<!-- FEEDBACKS -->

<section id="feedback">
  <div class="container">
    <div class="row">
      <h1 class="title text-center purple">
        Feedbacks
      </h1>
      <div class="col-md-5 text-center text-md-start">
        <p class="subtitle text-dark depoimento">
          “Eu só tenho que agradecer pelo empenho e dedicação tenho alcançado
          o que a gente planejou desde ínicio.
          As suas estratégias, metodologias e o seu profissionalismo,
          eu só tenho que agradecer e louvar a Deus por ter colocado
          você no meu caminho para estar me ajudando nas minhas redes sociais”
        </p>
        <h5 class="title purple title-name mb-0">
          Sandro Bilks
        </h5>
        <p>@sandrobilks</p>
      </div>
      <div class="col-md-7 text-center text-md-start">
        <p class="subtitle text-dark depoimento">
          “Trabalhar com a empresa Modality tem sido uma experiência muito enriquecedora,
          visto que a equipe é muito prestativa e flexível.
          Procurei o serviço, pois precisava de uma consultoria e supervisão
          estratégica no mercado de marketing digital, eles sanaram não só essa busca
          como também me ajudaram na estruturação estética da minha página. É uma equipe
          comprometida com os objetivos que estabelecem, prazos, para além do papo que é
          sensacional. Nada como ter uma equipe profissional e que ao mesmo tempo te dá
          segurança na prestação do serviço!”
        </p>
        <h5 class="title purple title-name mb-0">
          Daniel Ferrôza
        </h5>
        <p>@inglesferroza</p>
      </div>
    </div>

    <!-- CONTATO -->

    <div class="contato" id="contato">
      <h1 class="title text-white text-center title-contato mb-3">
        Vamos conversar?
      </h1>
      <p class="iniciar-contato text-center mb-3 text-white">
        Iniciar no digital é o primeiro passo<br class="d-none d-md-block">
        para o sucesso do seu negócio.
      </p>
      <div class="text-center">
        <a href="#" class="btn btn-success botao">QUERO COMEÇAR HOJE</a>
      </div>
      <!-- <form>
        <div [formGroup]="form" class="row">
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">Nome:</span>
              <input
                type="text"
                [ngClass]="{'is-invalid': form.get('nome')?.errors && form.get('nome')?.touched }"
                class="form-control purple"
                placeholder="" formControlName="nome"
                aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">Celular:</span>
              <input
                type="text"
                [ngClass]="{'is-invalid': f.celular?.errors && f.celular?.touched}"
                class="form-control purple"
                [specialCharacters]="['(', ')' ,'-']" mask="(00)00000-0000"
                placeholder=""
                formControlName="celular">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">E-mail:</span>
              <input
                type="text"
                [ngClass]="{'is-invalid': f.email?.errors && f.email?.touched}"
                class="form-control purple"
                placeholder=""
                formControlName="email"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">CEP:</span>
              <input
                type="text"
                [specialCharacters]="['.' ,'-']" mask="00.000-000"
                class="form-control purple"
                formControlName="cep"
                placeholder="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">Area de atuação:</span>
              <input
                type="text"
                class="form-control purple"
                placeholder="" formControlName="areaAtuacao"
                aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="input-group mb-3">
              <label class="input-group-text purple" for="inputGroupSelect01">Faturamento mensal:</label>
              <select #selec formControlName="faturamento" class="form-select position-relative purple" id="inputGroupSelect01">
                <option selected></option>
                <option value="100">One</option>
                <option value="200">Two</option>
                <option value="300">Three</option>
              </select>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="input-group mb-3">
              <span class="input-group-text purple" id="basic-addon1">Instagram:</span>
              <input
                type="text"
                class="form-control purple"
                placeholder=""
                formControlName="instagram"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <button [disabled]="!form.valid" (click)="cadastrarContato()" class="btn btn-info button button-submit">Enviar</button>
          </div>
        </div>
      </form> -->
    </div>

    <!-- CONTATO -->

    <!-- REDES SOCIAIS -->

    <div id="social-media" class="row social-media p-sm-0 px-5">
      <div class="col-lg-6 align-self-center justify-content-center d-md-block d-none">
        <img src="../../../assets/MODALITY-MUDANÇA-DE-COR-22.png" alt="Image" class="img-fluid logo">
      </div>
      <div class="col-md-6 align-self-center justify-content-center text-center text-md-start">
        <h1 class="title purple title-phone mb-2">
          Contato
        </h1>
        <p class="subtitle subtitle-phone text-dark mb-0">+55 11 93316-2701</p>
        <p class="subtitle subtitle-phone text-dark mb-3">atendimento@modalitydgital.com</p>
        <h1 class="title purple title-phone">
          Local
        </h1>
        <p class="subtitle subtitle-phone text-dark mb-3">Brasília, Distrito Federal</p>
        <h1 class="title purple title-phone">
          Siga nossas redes sociais
        </h1>
        <div class="col-12 d-flex align-self-center justify-content-center">
          <ul>
            <li>
              <a href="https://www.linkedin.com/company/modalitydigital" target="blank">
                <img src="../../../assets/Icones/LinkediN.png" alt="image" class="img-fluid image-social">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/modalitydigital/" target="blank">
                <img src="../../../assets/Icones/Instagram.png" alt="image" class="img-fluid image-social">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/modalitydigital" target="blank">
                <img src="../../../assets/Icones/Facebook.png" alt="image" class="img-fluid image-social">
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/flaviojorges" target="blank">
                <img src="../../../assets/Icones/Behance.png" alt="image" class="img-fluid image-social">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- REDES SOCIAIS -->

  </div>
</section>

<!-- FEEDBACKS -->
