<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <img src="../../../assets/Imagens/Imagem 2.png" alt="sobre.png" class="img-fluid d-none d-md-block sobre-md">
      </div>
      <div class="col-md-6 align-self-center text-md-start text-center">
        <h1 class="title purple">Sobre a MD</h1>
        <p class="subtitle">Somos Especialistas em Estratégia e Branding.</p>
        <p class="subtitle">Clientes no Brasil, Portugal, Inglaterra, Dubai e Japão.</p>
        <p class="subtitle">
          Queremos te ajudar a espalhar
          a sua mensagem e levar a sua marca cada vez mais forte para a internet.
        </p>
        <h1 class="title purple">Juntos com você!</h1>
        <p class="subtitle">Solicite uma cotação.</p>
        <button (click)="toContato()" class="btn btn-info button">Quero mais resultados</button>
      </div>
    </div>
  </div>
</section>
