/* SOBRE */
@font-face {
  font-family: 'GothanBold';
  src: url("../../../assets/Gotham-Font/Gotham-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'GothanBook';
  src: url("../../../assets/Gotham-Font/GothamBook.ttf") format('truetype');
}

.title{
  font-family: 'GothanBold';
  font-size: 48px;
}

.subtitle{
  font-family: 'GothanBook';
  font-size: 26px;
  line-height: 24px;
}

#sobre .container .subtitle{
  color: #000000;
}

#sobre .sobre-md{
  max-height: 500px;
}
.container .purple{
  color: #5A1286 !important;
}

.container .button{
  border-radius: 14px;
  font-family: 'GothanBold';
  background: #00DFBF;
  width: 294px;
  height: 48px;
  font-size: 18px;
}

/* MAX WIDTH */

@media screen and (max-width: 768px){
  .title{
    font-size: 20px;
    line-height: 20px;
  }

  .subtitle{
    font-size: 20px;
    line-height: 18px;
  }

  .container .button{
    border-radius: 9px;
    width: 205px;
    height: 35px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px){
  .block{
    margin-bottom: 50px;
  }

  .subtitle{
    font-size: 17px;
    line-height: 17px;
  }

  #main .woman{
    max-height: 273px;
  }
}
