<!-- SECTION MAIN  -->

<app-home></app-home>

<!-- SECTION MAIN  -->

<!-- SECTION SOBRE -->

<section class="block">
  <app-sobre></app-sobre>
</section>

<!-- SECTION SOBRE -->

<!-- SECTION SERVICES -->

<section id="service">
  <div class="container">
    <h1 class="title text-center purple mb-2">
      O que fazemos?
    </h1>
    <div class="retangle-wraper d-flex justify-content-center">
      <div class="retangle">
        <div class="detail"></div>
          <h3 class="purple social-media text-center mb-3">Social media</h3>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Padronização e Otimização</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Gerenciamento de redes sociais</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Planejamento</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Linha Editorial</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Criação e pesquisa de persona</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Calendário de postagens</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Métricas</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Trafégo Pago</p>
          </div>
          <div class="d-flex align-items-center">
            <img src="../../../assets/Imagens/icon.png" height="10px" alt="icon.png" class="img-fluid me-3">
            <p class="subtitle-social mb-0">Design</p>
          </div>
          <div class="text-center mt-4">
            <button (click)="toContato()" class="btn btn-info button">Contratar</button>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION SERVICES -->

<!-- SECTION PROVA-SOCIAL -->

<section id="prova-social">
  <div class="container">
    <h1 class="title success-case text-center text-white">
      Cases de sucesso
    </h1>
    <div class="row">
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case1.png" alt="image" class="img-fluid image-case">
      </div>
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case2.png" alt="image" class="img-fluid image-case">
      </div>
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case3.png" alt="image" class="img-fluid image-case">
      </div>
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case4.png" alt="image" class="img-fluid image-case">
      </div>
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case5.png" alt="image" class="img-fluid image-case">
      </div>
      <div class="col-md-4 col-6 my-md-5 my-2 align-self-center text-center">
        <img src="../../../assets/Imagens/case6.png" alt="image" class="img-fluid image-case">
      </div>
    </div>
  </div>
</section>

<!-- SECTION PROVA-SOCIAL -->

<!-- PAÍSES -->

<section id="paises">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title text-white align-self-center text-center text-md-start">+5 países</h1>
      </div>
      <div class="col-md-9">
        <h1 class="title text-white align-self-center text-center text-md-end">Milhares de contas alcançadas</h1>
      </div>
    </div>
  </div>
</section>

<!-- PAÍSES -->

<app-feedback></app-feedback>
