@font-face {
  font-family: 'GothanBold';
  src: url("../../../assets/Gotham-Font/Gotham-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'GothanBook';
  src: url("../../../assets/Gotham-Font/GothamBook.ttf") format('truetype');
}

.block{
  margin-bottom: 100px;
}

.title{
  font-family: 'GothanBold';
  font-size: 48px;
}

.subtitle{
  font-family: 'GothanBook';
  font-size: 26px;
  line-height: 24px;
}

#main .title, .subtitle{
  color: #FFFFFF;
}

#main .woman{
  max-height: 633px;
}

.container .button{
  border-radius: 14px;
  font-family: 'GothanBold';
  background: #00DFBF;
  width: 294px;
  height: 48px;
  font-size: 18px;
}

.container .purple{
  color: #5A1286 !important;
}

/* SERVICES */

#service{
  width: 100%;
  height: 100%;
}

#service .retangle-wraper{
  position: relative;
  top: 30px;
}

#service .retangle{
  background: #F0F0F0;
  border-radius: 33px;
  max-width: 806px;
  max-height: 550px;
  padding: 35px 100px 40px 70px;
}

#service .detail{
  position: relative;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 349px;
  height: 22px;
  background: #5A1286;
  border-radius: 5px;
}

#service .social-media{
  font-size: 36px;
  color: #5A1286;
  font-family: 'GothanBold';
}

#service .subtitle-social{
  font-size: 32px;
}

#service .d-flex{
  line-height: 30px;
}

#service .button{
  border-radius: 14px;
  font-family: 'GothanBold';
  background: #00DFBF;
  width: 241.6px;
  height: 45px;
  font-size: 18px;
}

/* PROVA SOCIAL */

#prova-social{
  background: #5A1286;
  padding: 100px 0 50px 0;
}

#prova-social .success-case{
  padding: 50px 0;
}

/* PAÍSES */

#paises{
  background: #000000;
  padding: 63px 0;
}

/* Min Width */
@media screen and (min-width: 992px){


}

/* MAX WIDTH */

@media screen and (max-width: 768px){
  .title{
    font-size: 20px;
    line-height: 20px;
  }

  .subtitle{
    font-size: 20px;
    line-height: 18px;
  }

  #service .subtitle-social{
    font-size: 16px;
    line-height: 35px;
  }

  #service img{
    height: 18px;
  }

  #service .retangle{
    max-width: 806px;
    max-height: 550px;
    padding: 35px 30px 40px 30px;
  }

  #service .detail{
    top: -27px;
    width: 197px;
    height: 13px;
  }

  #service .social-media{
    font-size: 24px;
  }

  .container .button{
    border-radius: 9px;
    width: 205px;
    height: 35px;
    font-size: 14px;
  }

  #service .button{
    border-radius: 9px;
    width: 205px;
    height: 35px;
    font-size: 14px;
  }

  #prova-social{
    padding: 40px 0 70px 0;
  }

  #prova-social .success-case{
    padding: 50px 0;
  }

  #feedback{
    padding: 50px 0;
  }

  #feedback .title-name{
    font-size: 18px;
    line-height: 15px;
  }

}

@media screen and (max-width: 576px){
  .block{
    margin-bottom: 50px;
  }

  #service .container{
    padding: 0;
  }

  .subtitle{
    font-size: 17px;
    line-height: 17px;
  }

  #main .woman{
    max-height: 273px;
  }

  #paises{
    padding: 40px 0;
  }
}
