<section id="main" class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pt-md-0 pt-5 align-self-center text-center text-md-start">
        <h1 class="title mb-0">
          Descubra como se posicionar melhor e conquistar o seu espaço na internet
        </h1>
        <h2 class="subtitle py-3">
          Aqui você alavanca seus resultados.
        </h2>
        <button (click)="toContato()" class="btn btn-info button">Quero mais resultados</button>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <img src="../../../assets/Imagens/Imagem 1.png" alt="Image" class="img-fluid woman">
      </div>
    </div>
  </div>
</section>
